#常に監視対象外にしたいファイル
passRemind.php
passRemindReceive.php
php.log

#同上,ディレクトリ
/img/
/uploads/
/var/

#一時的に作成したファイルで、開発が進んだら統合・削除するファイル
getTodoList.php
twitter-auth.php
comment.php

#テキストファイル
z-index-list

#容量が大きいディレクトリ（ライブラリ)
node_modules
vendor


.DS_store
localhost_.sql
