@charset "utf-8";
/* ==========================================================================
 Footer
========================================================================== */
.l-footer{
    text-align: center;
    margin: 0 auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: 100vw;
    background-color: $color_sub;
}
