@charset "utf-8";
/* ==========================================================================
Forms
========================================================================== */
.c-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &__text-area{
        @extend .c-form;
        box-sizing: border-box;
        border-style: none;
    }
    &__link{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
