@charset "utf-8";
/* ==========================================================================
Title
========================================================================== */
.c-title{
  width: 100%;
  font-size:  $font-size_3l;
  text-align: center;
  &--sm{
      @extend .c-title;
      font-size: 2rem;
  }
}
