@charset "utf-8";
/* ==========================================================================
 display
========================================================================== */
.u-disp--flex{
    display: flex;
}
.u-disp--flex-col{
    display: flex;
    flex-direction: column;
}
.u-disp--contents{
    display: contents;
}
