@charset "utf-8";
/* ==========================================================================
 FlexBox
========================================================================== */
.u-align-item--center{
    align-items: center;
}
.u-align-self--center{
    align-self: center;
}
.u-justify--center{
    justify-content: center;
}
.u-flex--center{
    display: flex;
    @extend .u-align-item--center;
    @extend .u-justify--center;
}
