@charset "utf-8";
/* ==========================================================================
 margin
========================================================================== */
.u-margin-auto{
    margin: 0 auto;
}
.u-margin-lr-2l{
    margin: 0 2vh;
}
.u-margin-tb-2l{
    margin: 2vh 0;
}
.u-margin-t-2l{
    margin-top: 2vh;
}
.u-margin-b-2l{
    margin-bottom: 2vh;
}
.u-margin-l-2l{
    margin-left: 2vh;
}
.u-margin-r-2l{
    margin-right: 2vh;
}
