@charset "utf-8";
/* ==========================================================================
 text-indent
========================================================================== */

.u-tx-inside0 {
  text-indent: 0 !important;
  padding-left: 0 !important;
}
.u-text-al--right{
    text-align: right;
}
.u-text-al--center{
    text-align: center;
}
