@charset "utf-8";
/* ==========================================================================
 Searh-result
========================================================================== */
//index.phpのレコード表示件数のエリア
.p-search-rst{
    padding: 1vh 0;
    text-align: center;
    background: $color_black4;

}
